In [1]:
import numpy as np
import pandas as pd

import datetime
from datetime import datetime, date

pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 8)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 80)

import matplotlib.pyplot as plt
%matplotlib inline

# Creating a Dataframe from csv files

In [2]:
# use the Symbol column as the index
#only read in columns in positions 0,2,3,7

sp500 = pd.read_csv("../data/sp500.csv",
                   index_col='Symbol',
                   usecols=[0,2,3,7])
sp500

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897
...                        ...     ...         ...
YHOO    Information Technology   35.02      12.768
YUM     Consumer Discretionary   74.77       5.147
ZMH                Health Care  101.84      37.181
ZION                Financials   28.43      30.191
ZTS                Health Care   30.53       2.150

[500 rows x 3 columns]

In [3]:
sp500.head()

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897

In [4]:
len(sp500)

500

In [5]:
sp500.shape

(500, 3)

In [6]:
sp500.size

1500

In [7]:
sp500.index

Index(['MMM', 'ABT', 'ABBV', 'ACN', 'ACE', 'ACT', 'ADBE', 'AES', 'AET', 'AFL',
       ...
       'XEL', 'XRX', 'XLNX', 'XL', 'XYL', 'YHOO', 'YUM', 'ZMH', 'ZION', 'ZTS'],
      dtype='object', name='Symbol', length=500)

In [8]:
sp500.columns

Index(['Sector', 'Price', 'Book Value'], dtype='object')

# Selecting columns of a DF

In [9]:
sp500['Sector'].head()
# able to chek the dtype of selected col

Symbol
MMM                Industrials
ABT                Health Care
ABBV               Health Care
ACN     Information Technology
ACE                 Financials
Name: Sector, dtype: object

In [10]:
type(sp500)

pandas.core.frame.DataFrame

In [11]:
type(sp500['Sector'])

pandas.core.series.Series

In [12]:
sp500[['Price','Book Value']].head()

         Price  Book Value
Symbol
MMM     141.14      26.668
ABT      39.60      15.573
ABBV     53.95       2.954
ACN      79.79       8.326
ACE     102.91      86.897

In [13]:
type(sp500[['Price','Book Value']])
# # of cols >=2 -> DF

pandas.core.frame.DataFrame

In [14]:
sp500.Price

Symbol
MMM     141.14
ABT      39.60
ABBV     53.95
ACN      79.79
ACE     102.91
         ...
YHOO     35.02
YUM      74.77
ZMH     101.84
ZION     28.43
ZTS      30.53
Name: Price, Length: 500, dtype: float64

In [15]:
sp500.Book Value
# cannot interprete spaces " "

SyntaxError: invalid syntax (<ipython-input-15-b68fd23a2c48>, line 1)

In [16]:
sp500['Book Value']

Symbol
MMM     26.668
ABT     15.573
ABBV     2.954
ACN      8.326
ACE     86.897
         ...
YHOO    12.768
YUM      5.147
ZMH     37.181
ZION    30.191
ZTS      2.150
Name: Book Value, Length: 500, dtype: float64

In [ ]:
# 추가로 연습해보기

In [17]:
sp500.rename(columns={'Book Value':'Book_Value'}, inplace=True)
# 아니면 원본 파일 바꾸자~

In [18]:
sp500.columns

Index(['Sector', 'Price', 'Book_Value'], dtype='object')

In [19]:
sp500.Book_Value

Symbol
MMM     26.668
ABT     15.573
ABBV     2.954
ACN      8.326
ACE     86.897
         ...
YHOO    12.768
YUM      5.147
ZMH     37.181
ZION    30.191
ZTS      2.150
Name: Book_Value, Length: 500, dtype: float64

# Selecting rows of a DF

In [20]:
a = sp500.loc['MMM']
a
# 하나의 row를 뽑았지만, df형식으로 결과제출

Sector        Industrials
Price              141.14
Book_Value         26.668
Name: MMM, dtype: object

In [22]:
sp500.loc[['MMM','MSFT']]
# 두개 이상의 rows 역시 동일하게 df 제출

                        Sector   Price  Book_Value
Symbol
MMM                Industrials  141.14      26.668
MSFT    Information Technology   40.12      10.584

In [23]:
sp500.iloc[[0,2]]

             Sector   Price  Book_Value
Symbol
MMM     Industrials  141.14      26.668
ABBV    Health Care   53.95       2.954

In [24]:
# get_loc(): 해당값의 행/열의 위치 반환
i1 = sp500.index.get_loc('MMM')
i2 = sp500.index.get_loc('A')
(i1, i2)

(0, 10)

In [25]:
i1, i2

(0, 10)

In [27]:
i3 = sp500.columns.get_loc('Price')
i4 = sp500.columns.get_loc('Book_Value') #앞에서 Book_Value로 inplace함
i3, i4

(1, 2)

In [28]:
sp500.iloc[[i1, i2]]

             Sector   Price  Book_Value
Symbol
MMM     Industrials  141.14      26.668
A       Health Care   56.18      16.928

In [30]:
sp500.iloc[[i1,i2],[i3, i4]]

         Price  Book_Value
Symbol
MMM     141.14      26.668
A        56.18      16.928

# Scalar lookup by label or location using .at[] and .iat[]

In [31]:
# by label in both the index and column
# 행 열이 일치하는 값 반환
sp500.at['MMM','Price']

141.14

In [32]:
sp500.at['Price','MMM']
# 행은 행대로, 열은 열대로 제대로 지정하세용

KeyError: 'MMM'

In [33]:
# by location. row:0, col:1
sp500.iat[0,1]

141.14

# Slicing using the [] operator

In [34]:
# first five rows
sp500[:5]

                        Sector   Price  Book_Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897

In [35]:
# ABT through ACN labels
sp500['ABT':'ACN']

                        Sector  Price  Book_Value
Symbol
ABT                Health Care  39.60      15.573
ABBV               Health Care  53.95       2.954
ACN     Information Technology  79.79       8.326

# Selecting rows using Boolean selection

In [37]:
# which rows have a price < 100?
sp500.Price<100

Symbol
MMM     False
ABT      True
ABBV     True
ACN      True
ACE     False
        ...
YHOO     True
YUM      True
ZMH     False
ZION     True
ZTS      True
Name: Price, Length: 500, dtype: bool

In [38]:
# get the rows with Price < 100
sp500[sp500.Price<100]

                        Sector  Price  Book_Value
Symbol
ABT                Health Care  39.60      15.573
ABBV               Health Care  53.95       2.954
ACN     Information Technology  79.79       8.326
ADBE    Information Technology  64.30      13.262
AES                  Utilities  13.61       5.781
...                        ...    ...         ...
XYL                Industrials  38.42      12.127
YHOO    Information Technology  35.02      12.768
YUM     Consumer Discretionary  74.77       5.147
ZION                Financials  28.43      30.191
ZTS                Health Care  30.53       2.150

[407 rows x 3 columns]

In [40]:
r = sp500[(sp500.Price<10)&(sp500.Price >6)]['Price']
r

Symbol
HCBK    9.80
HBAN    9.10
SLM     8.82
WIN     9.38
Name: Price, dtype: float64

In [42]:
r = sp500[(sp500.Price<10)&(sp500.Price<6)][['Price','Book_Value']]
r

        Price  Book_Value
Symbol
BEAM     0.00         NaN
FTR      5.81       3.989

In [43]:
r = sp500[(sp500.Price<10)&(sp500.Price>6)]
r

                             Sector  Price  Book_Value
Symbol
HCBK                     Financials   9.80       9.596
HBAN                     Financials   9.10       6.995
SLM                      Financials   8.82      11.895
WIN     Telecommunications Services   9.38       1.199

In [45]:
r = sp500[(sp500.Sector=='Health Care')&(sp500.Price > 100.00)][['Price','Sector']]
r

         Price       Sector
Symbol
ACT     213.77  Health Care
ALXN    162.30  Health Care
AGN     166.92  Health Care
AMGN    114.33  Health Care
BCR     146.62  Health Care
...        ...          ...
REGN    297.77  Health Care
TMO     115.74  Health Care
WAT     100.54  Health Care
WLP     108.82  Health Care
ZMH     101.84  Health Care

[19 rows x 2 columns]

# Selecting across both rows and columns

In [46]:
# select the price and sector columns for ABT, ZTS
sp500.loc['ABT']['Sector']

'Health Care'

In [47]:
sp500.iloc[1][0]

'Health Care'

In [48]:
sp500.loc[['ABT','ZTS']][['Sector','Price']]

             Sector  Price
Symbol
ABT     Health Care  39.60
ZTS     Health Care  30.53

# Renaming columns

In [49]:
sp500 = pd.read_csv('../data/sp500.csv',
                   index_col='Symbol',
                   usecols=[0,2,3,7])

In [50]:
sp500.rename(columns={'Book Value':'BookValue'})

                        Sector   Price  BookValue
Symbol
MMM                Industrials  141.14     26.668
ABT                Health Care   39.60     15.573
ABBV               Health Care   53.95      2.954
ACN     Information Technology   79.79      8.326
ACE                 Financials  102.91     86.897
...                        ...     ...        ...
YHOO    Information Technology   35.02     12.768
YUM     Consumer Discretionary   74.77      5.147
ZMH                Health Care  101.84     37.181
ZION                Financials   28.43     30.191
ZTS                Health Care   30.53      2.150

[500 rows x 3 columns]

In [51]:
sp500.columns

Index(['Sector', 'Price', 'Book Value'], dtype='object')

In [52]:
sp500.BookValue[:5]

AttributeError: 'DataFrame' object has no attribute 'BookValue'

In [53]:
sp500.rename(columns={'Book Value':'BookValue'},
            inplace=True)
sp500.columns

Index(['Sector', 'Price', 'BookValue'], dtype='object')

In [55]:
sp500.BookValue[:5]

Symbol
MMM     26.668
ABT     15.573
ABBV     2.954
ACN      8.326
ACE     86.897
Name: BookValue, dtype: float64

In [56]:
sp500.Price[:5]

Symbol
MMM     141.14
ABT      39.60
ABBV     53.95
ACN      79.79
ACE     102.91
Name: Price, dtype: float64

In [59]:
# round(n): 소수 n번째 자리에서 반올림
sp500_copy = sp500.copy()
sp500_copy['RoundedPrice'] = sp500.Price.round(0) # 없는 열이면 추가, 있는 열이면 교체
sp500_copy[:5]

                        Sector   Price  BookValue  RoundedPrice
Symbol
MMM                Industrials  141.14     26.668         141.0
ABT                Health Care   39.60     15.573          40.0
ABBV               Health Care   53.95      2.954          54.0
ACN     Information Technology   79.79      8.326          80.0
ACE                 Financials  102.91     86.897         103.0

In [60]:
sss = sp500_copy['RoundedPrice'].astype('int')
sss[:2]

Symbol
MMM    141
ABT     40
Name: RoundedPrice, dtype: int32

In [61]:
# make a copy so that we keep the original data unchanged
copy = sp500.copy()
# insert sp500.Price.round() as the second column in the DF
copy.insert(1, 'RoundedPrice', sp500.Price.round()) # insert(): 지정한 위치에 칼럼 추가
copy[:2]

             Sector  RoundedPrice   Price  BookValue
Symbol
MMM     Industrials         141.0  141.14     26.668
ABT     Health Care          40.0   39.60     15.573

# Adding columns through enlargement

In [62]:
# copy of subset / slice
ss = sp500[:3].copy()
# add the new column initialized to 0
ss.loc[:, 'PER'] = 0
ss

             Sector   Price  BookValue  PER
Symbol
MMM     Industrials  141.14     26.668    0
ABT     Health Care   39.60     15.573    0
ABBV    Health Care   53.95      2.954    0

In [66]:
ss = sp500[:3].copy()
#add the new column initialized with random nums
np.random.seed(123456)
ss.loc[:,'PER'] = pd.Series(np.random.normal(size=3), index=ss.index)
ss

             Sector   Price  BookValue       PER
Symbol
MMM     Industrials  141.14     26.668  0.469112
ABT     Health Care   39.60     15.573 -0.282863
ABBV    Health Care   53.95      2.954 -1.509059

# Adding columns using concatenation

In [67]:
# create a DF with only the RoundedPrice column
rounded_price = pd.DataFrame({'RoundedPrice':sp500.Price.round()})
rounded_price

        RoundedPrice
Symbol
MMM            141.0
ABT             40.0
ABBV            54.0
ACN             80.0
ACE            103.0
...              ...
YHOO            35.0
YUM             75.0
ZMH            102.0
ZION            28.0
ZTS             31.0

[500 rows x 1 columns]

In [68]:
# concatenate along the columns axis
pd.concat([sp500, rounded_price], axis=1) # concat() 접합해도 결과 확인 안됨 - 객체 생성으로 확인
sp500[:5]

                        Sector   Price  BookValue
Symbol
MMM                Industrials  141.14     26.668
ABT                Health Care   39.60     15.573
ABBV               Health Care   53.95      2.954
ACN     Information Technology   79.79      8.326
ACE                 Financials  102.91     86.897

In [71]:
concatenated = pd.concat([sp500, rounded_price], axis=1)
concatenated[:5]

                        Sector   Price  BookValue  RoundedPrice
Symbol
MMM                Industrials  141.14     26.668         141.0
ABT                Health Care   39.60     15.573          40.0
ABBV               Health Care   53.95      2.954          54.0
ACN     Information Technology   79.79      8.326          80.0
ACE                 Financials  102.91     86.897         103.0

In [72]:
rounded_price = pd.DataFrame({'Price':sp500.Price.round()})
rounded_price

        Price
Symbol
MMM     141.0
ABT      40.0
ABBV     54.0
ACN      80.0
ACE     103.0
...       ...
YHOO     35.0
YUM      75.0
ZMH     102.0
ZION     28.0
ZTS      31.0

[500 rows x 1 columns]

In [79]:
dups = pd.concat([sp500, rounded_price], axis=1)
dups

                        Sector   Price  BookValue  Price
Symbol
MMM                Industrials  141.14     26.668  141.0
ABT                Health Care   39.60     15.573   40.0
ABBV               Health Care   53.95      2.954   54.0
ACN     Information Technology   79.79      8.326   80.0
ACE                 Financials  102.91     86.897  103.0
...                        ...     ...        ...    ...
YHOO    Information Technology   35.02     12.768   35.0
YUM     Consumer Discretionary   74.77      5.147   75.0
ZMH                Health Care  101.84     37.181  102.0
ZION                Financials   28.43     30.191   28.0
ZTS                Health Care   30.53      2.150   31.0

[500 rows x 4 columns]

In [77]:
dups1 = pd.concat([sp500, rounded_price], axis=0)
dups1

                        Sector   Price  BookValue
Symbol
MMM                Industrials  141.14     26.668
ABT                Health Care   39.60     15.573
ABBV               Health Care   53.95      2.954
ACN     Information Technology   79.79      8.326
ACE                 Financials  102.91     86.897
...                        ...     ...        ...
YHOO                       NaN   35.00        NaN
YUM                        NaN   75.00        NaN
ZMH                        NaN  102.00        NaN
ZION                       NaN   28.00        NaN
ZTS                        NaN   31.00        NaN

[1000 rows x 3 columns]

In [80]:
len(dups)

500

In [81]:
len(dups1)

1000

In [82]:
dups.Price[:5] # 동일 컬럼명 2개

         Price  Price
Symbol
MMM     141.14  141.0
ABT      39.60   40.0
ABBV     53.95   54.0
ACN      79.79   80.0
ACE     102.91  103.0

In [83]:
dups.iloc[:,3]

Symbol
MMM     141.0
ABT      40.0
ABBV     54.0
ACN      80.0
ACE     103.0
        ...
YHOO     35.0
YUM      75.0
ZMH     102.0
ZION     28.0
ZTS      31.0
Name: Price, Length: 500, dtype: float64

In [84]:
dups.loc[:,'Price']

         Price  Price
Symbol
MMM     141.14  141.0
ABT      39.60   40.0
ABBV     53.95   54.0
ACN      79.79   80.0
ACE     102.91  103.0
...        ...    ...
YHOO     35.02   35.0
YUM      74.77   75.0
ZMH     101.84  102.0
ZION     28.43   28.0
ZTS      30.53   31.0

[500 rows x 2 columns]