In [1]:
import numpy as np
import pandas as pd

import datetime
from datetime import datetime, date

pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 8)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 80)

import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
sp500 = pd.read_csv('../data/sp500.csv',
                   index_col='Symbol',
                   usecols=[0,2,3,7])

# The importance of indexes

In [4]:
np.random.seed(123456)
df = pd.DataFrame({'foo':np.random.random(10000), 'key':range
                  (100,10100)})
df[:5]

        foo  key
0  0.126970  100
1  0.966718  101
2  0.260476  102
3  0.897237  103
4  0.376750  104

In [5]:
df[df.key == 10099]

           foo    key
9999  0.272283  10099

In [6]:
%timeit df[df.key == 10099]

1.59 ms ± 92.4 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [7]:
df_with_index = df.set_index(['key'])
df_with_index[:5]

          foo
key
100  0.126970
101  0.966718
102  0.260476
103  0.897237
104  0.376750

In [8]:
df_with_index.loc[10099]

foo    0.272283
Name: 10099, dtype: float64

In [9]:
%timeit df_with_index.loc[10099]

341 µs ± 23.1 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [10]:
temps = pd.DataFrame({'City': ['Missoula', 'Philadelphia'],
                     'Temperature': [70,80]})
temps

           City  Temperature
0      Missoula           70
1  Philadelphia           80

In [11]:
temps.columns

Index(['City', 'Temperature'], dtype='object')

In [12]:
df_i64 = pd.DataFrame(np.arange(10,20), index=np.arange(0,10))
df_i64[:5]

    0
0  10
1  11
2  12
3  13
4  14

In [13]:
df_i64.index

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype='int64')

In [14]:
df_range = pd.DataFrame(np.arange(10,15))
df_range[:5]

    0
0  10
1  11
2  12
3  13
4  14

In [15]:
df_range.index

RangeIndex(start=0, stop=5, step=1)

# FloatIndex

In [16]:
df_f64 = pd.DataFrame(np.arange(0,1000,5),
                     np.arange(0.0, 100.0, 0.5))
df_f64.iloc[:5]

      0
0.0   0
0.5   5
1.0  10
1.5  15
2.0  20

In [17]:
df_f64.index

Float64Index([ 0.0,  0.5,  1.0,  1.5,  2.0,  2.5,  3.0,  3.5,  4.0,  4.5,
              ...
              95.0, 95.5, 96.0, 96.5, 97.0, 97.5, 98.0, 98.5, 99.0, 99.5],
             dtype='float64', length=200)

# IntervalIndex

In [19]:
df_interval = pd.DataFrame({'A':[1,2,3,4]},
                          index = pd.IntervalIndex.from_breaks(
                          [0, 0.5, 1.0, 1.5, 2.0]))
df_interval

            A
(0.0, 0.5]  1
(0.5, 1.0]  2
(1.0, 1.5]  3
(1.5, 2.0]  4

In [20]:
df_interval.index

IntervalIndex([(0.0, 0.5], (0.5, 1.0], (1.0, 1.5], (1.5, 2.0]],
              closed='right',
              dtype='interval[float64]')

# CategoricalIndex

In [22]:
df_categorical = pd.DataFrame({'A':np.arange(6),
                              'B':list('aabbca')})

df_categorical['B'] = df_categorical['B'].astype('category')

df_categorical

   A  B
0  0  a
1  1  a
2  2  b
3  3  b
4  4  c
5  5  a

In [23]:
df_categorical = df_categorical.set_index('B')
df_categorical.index

CategoricalIndex(['a', 'a', 'b', 'b', 'c', 'a'], categories=['a', 'b', 'c'], ordered=False, name='B', dtype='category')

In [24]:
df_categorical.loc['a']

   A
B
a  0
a  1
a  5

# DatetieIndex

In [25]:
rng = pd.date_range('5/1/2017', periods=5, freq='H')

In [26]:
type(rng)

pandas.core.indexes.datetimes.DatetimeIndex

In [27]:
rng

DatetimeIndex(['2017-05-01 00:00:00', '2017-05-01 01:00:00',
               '2017-05-01 02:00:00', '2017-05-01 03:00:00',
               '2017-05-01 04:00:00'],
              dtype='datetime64[ns]', freq='H')

In [28]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2017-05-01 00:00:00    1.239792
2017-05-01 01:00:00   -0.400611
2017-05-01 02:00:00    0.718247
2017-05-01 03:00:00    0.430499
2017-05-01 04:00:00    1.155432
Freq: H, dtype: float64

In [29]:
ts.index

DatetimeIndex(['2017-05-01 00:00:00', '2017-05-01 01:00:00',
               '2017-05-01 02:00:00', '2017-05-01 03:00:00',
               '2017-05-01 04:00:00'],
              dtype='datetime64[ns]', freq='H')

# PeriodIndex

In [30]:
periods = pd.PeriodIndex(['2017-1', '2017-2','2017-3'], freq='M')
periods

PeriodIndex(['2017-01', '2017-02', '2017-03'], dtype='period[M]', freq='M')

In [31]:
period_series = pd.Series(np.random.randn(len(periods)),
                         index=periods)
period_series

2017-01   -0.449276
2017-02    2.472977
2017-03   -0.716023
Freq: M, dtype: float64

In [32]:
date_times = pd.DatetimeIndex(pd.date_range('5/1/2017',
                                           periods=5,
                                           freq='H'))
date_times

DatetimeIndex(['2017-05-01 00:00:00', '2017-05-01 01:00:00',
               '2017-05-01 02:00:00', '2017-05-01 03:00:00',
               '2017-05-01 04:00:00'],
              dtype='datetime64[ns]', freq='H')

In [33]:
df_date_times = pd.DataFrame(np.arange(0, len(date_times)),
                            index=date_times)
df_date_times

                     0
2017-05-01 00:00:00  0
2017-05-01 01:00:00  1
2017-05-01 02:00:00  2
2017-05-01 03:00:00  3
2017-05-01 04:00:00  4

# Selecting values using an index

In [34]:
s = pd.Series(np.arange(0,5), index=list('abcde'))
s

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [35]:
s['b']

1

In [36]:
s.loc['b']

1

In [38]:
df = pd.DataFrame([np.arange(10,12),
                  np.arange(12,14)],
                 columns=list('ab'),
                 index=list('vw'))
df

    a   b
v  10  11
w  12  13

In [39]:
df['a']

v    10
w    12
Name: a, dtype: int64

In [40]:
df.loc['w']

a    12
b    13
Name: w, dtype: int64

In [41]:
s['b':'d']

b    1
c    2
d    3
dtype: int32

In [42]:
s.loc['b':'d']

b    1
c    2
d    3
dtype: int32

In [43]:
s.loc[['a','c','e']]

a    0
c    2
e    4
dtype: int32

# Moving data to and from the index

In [45]:
sp500[:5]

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897

In [46]:
index_moved_to_col = sp500.reset_index()
index_moved_to_col[:5]

  Symbol                  Sector   Price  Book Value
0    MMM             Industrials  141.14      26.668
1    ABT             Health Care   39.60      15.573
2   ABBV             Health Care   53.95       2.954
3    ACN  Information Technology   79.79       8.326
4    ACE              Financials  102.91      86.897

In [48]:
index_moved_to_col.set_index('Sector')[:5]

                       Symbol   Price  Book Value
Sector
Industrials               MMM  141.14      26.668
Health Care               ABT   39.60      15.573
Health Care              ABBV   53.95       2.954
Information Technology    ACN   79.79       8.326
Financials                ACE  102.91      86.897

In [47]:
reindexed = sp500.reindex(index=['MMM','ABBV','FOO'])

reindexed

             Sector   Price  Book Value
Symbol
MMM     Industrials  141.14      26.668
ABBV    Health Care   53.95       2.954
FOO             NaN     NaN         NaN

In [49]:
sp500.reindex(columns=['Price',
                      'Book Value',
                      'NewCol'])[:5]

         Price  Book Value  NewCol
Symbol
MMM     141.14      26.668     NaN
ABT      39.60      15.573     NaN
ABBV     53.95       2.954     NaN
ACN      79.79       8.326     NaN
ACE     102.91      86.897     NaN

# Hierarchical indexing

In [50]:
reindexed = sp500.reset_index()

multi_fi = reindexed.set_index(['Sector','Symbol'])
multi_fi[:5]

                                Price  Book Value
Sector                 Symbol
Industrials            MMM     141.14      26.668
Health Care            ABT      39.60      15.573
                       ABBV     53.95       2.954
Information Technology ACN      79.79       8.326
Financials             ACE     102.91      86.897

In [51]:
type(multi_fi.index)

pandas.core.indexes.multi.MultiIndex

In [52]:
len(multi_fi.index.levels)

2

In [53]:
multi_fi.index.levels[0]

Index(['Consumer Discretionary', 'Consumer Discretionary ', 'Consumer Staples',
       'Consumer Staples ', 'Energy', 'Financials', 'Health Care',
       'Industrials', 'Industries', 'Information Technology', 'Materials',
       'Telecommunications Services', 'Utilities'],
      dtype='object', name='Sector')

In [56]:
multi_fi.index.levels[1]

Index(['A', 'AA', 'AAPL', 'ABBV', 'ABC', 'ABT', 'ACE', 'ACN', 'ACT', 'ADBE',
       ...
       'XLNX', 'XOM', 'XRAY', 'XRX', 'XYL', 'YHOO', 'YUM', 'ZION', 'ZMH',
       'ZTS'],
      dtype='object', name='Symbol', length=500)

In [57]:
multi_fi.index.get_level_values(0)

Index(['Industrials', 'Health Care', 'Health Care', 'Information Technology',
       'Financials', 'Health Care', 'Information Technology', 'Utilities',
       'Health Care', 'Financials',
       ...
       'Utilities', 'Information Technology', 'Information Technology',
       'Financials', 'Industrials', 'Information Technology',
       'Consumer Discretionary', 'Health Care', 'Financials', 'Health Care'],
      dtype='object', name='Sector', length=500)

In [58]:
multi_fi.xs('Industrials')[:5]

         Price  Book Value
Symbol
MMM     141.14      26.668
ALLE     52.46       0.000
APH      95.71      18.315
AVY      48.20      15.616
BA      132.41      19.870

In [59]:
multi_fi.xs('ALLE', level=1)

             Price  Book Value
Sector
Industrials  52.46         0.0

In [60]:
multi_fi.xs('Industrials', drop_level=False)[:5]

                     Price  Book Value
Sector      Symbol
Industrials MMM     141.14      26.668
            ALLE     52.46       0.000
            APH      95.71      18.315
            AVY      48.20      15.616
            BA      132.41      19.870

In [61]:
multi_fi.xs('Industrials').xs('UPS')

Price         102.73
Book Value      6.79
Name: UPS, dtype: float64

In [62]:
multi_fi.xs(('Industrials','UPS'))

Price         102.73
Book Value      6.79
Name: (Industrials, UPS), dtype: float64